.carousel-container {
    display: flex;
    overflow-x: auto; /* Enable horizontal scrolling */
    width: 100%;
    padding: 20px 0;
    scroll-behavior: smooth; /* Optional: Smooth scrolling */
}

@keyframes gradientBorder {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.card-border {
    flex: 0 0 auto;
    width: 308px; /* Adjusted to include the border */
    margin-right: 20px;
    border-radius: 12px; /* Larger radius to include border */
    background: linear-gradient(270deg, red 0%, green 30.43%,rgb(53, 164, 216) 68.23%, #DB00FF 100%);
    background-size: 200% 200%;
    animation: gradientBorder 5s ease infinite;
    padding: 4px; /* Space for the border */
    box-sizing: border-box; /* Include padding in the element's width and height */
}

.card {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 100%; /* Ensure the card takes full width inside the border */
    height: 100%; /* Ensure the card takes full height inside the border */
}

.text_center {
    text-align: center;
}

@media screen and (max-width:768px) {
    #skills{
        margin: 4rem 10px 0px 10px;
    }

    .carousel-container {
        display: block;
        overflow-x: auto; /* Enable horizontal scrolling */
        width: 100%;
        padding: 20px 0;
        scroll-behavior: smooth; /* Optional: Smooth scrolling */
    }
    .card-border{
        margin: 0 0 10px 0px;
        width: 100%;
    }
}
