section{
  padding-top: 4vh;
  margin: 0 5rem;
  box-sizing: border-box;
  min-height: fit-content;
  
}

@media screen and (max-width:768px) {
    .heading{
      font-size: 2rem;
    }
}

/* #light{
  background-color: red;
}

#dark{
  background-color: blue;
} */

/* default light theme */
body.light {
  *{
    background-color: white !important;
    color: black !important;
  }
}
/* dark theme */
body.dark {
  *{
    background-color: black !important;
    color: white !important;
  }
}

